body {
  background-color: #74aabc;
      background-image: url(https://ts1.cn.mm.bing.net/th/id/R-C.8e5e293cae342149832fff96bb4c8caa?rik=dbonSUJuDVqx5A&riu=http%3a%2f%2fimg.mm4000.com%2ffile%2f8%2fd7%2f6527dce099.jpg%3fdown&ehk=E9%2bVucd%2fent1hsPcwHCre695jRwtoRQJzu1ymZuXJL0%3d&risl=&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  background-size: cover; 

}
.fengexian {text-align:center;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.anniu {
    color: white;
    border: 2px solid #e7e7e7;
}

.anniu:hover {background-color: #e7e7e7;}
a:link {
  text-decoration: none;
}
.zsimg
{
  text-align: center;
}
.zsimg img
{
  height:800px;
}
